In [1]:
import yfinance as yf

In [2]:
data = yf.download("DTE", start="2023-04-01", end="2024-05-01", interval="1d")
data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,109.120003,109.809998,107.970001,108.989998,105.144203,1603400
2023-04-04,109.040001,109.330002,108.300003,108.709999,104.874084,1462400
2023-04-05,109.129997,112.639999,109.129997,112.129997,108.173401,1212200
2023-04-06,112.769997,114.010002,112.449997,113.849998,109.832718,1754000
2023-04-10,113.139999,113.849998,112.220001,113.589996,109.581886,1179000